@font-face {
    font-family: ghotamMedium;
    src: url(../font/gothamMedium.ttf);
}

$colorPrincipal: #030f27;

@mixin cardImg {
    height: 800px;
    background-size: cover;
    background-position: center;
}

@mixin sizes ($width, $height, $bgcolor) {
    width: $width;
    height: $height;
    background-color: $bgcolor;
}

@import "../sass/nosotros";
@import "../sass/ahorropredictivo";
@import "../sass/clientes";
@import "../sass/staff";
@import "../sass/trabajaconnosotros";
@import "../sass/contacto";
@import "../sass/webmail";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #fbfbfb;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
}

//HEADER INCIO

header {
    position: relative;
    z-index: 2;
    height: 150px;
    width: 1170px;
    padding: 0px 20px;
    animation-duration: 1s;
    animation-name: aparecerHeader;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;

@keyframes aparecerHeader {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

    & .logo {
        width: 100%;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 6px 0px 15px 0px;

        & img {
            height: 70px;
            width: auto;
        }
    }
}

.navbar {
    width: 100%;
    display: flex;
    border-radius: 5px;
    background-color: $colorPrincipal;
    justify-content: right;
    box-shadow: 0px 15px 20px 0px rgba(40, 40, 80, 0.13);
    position: relative !important;
    z-index: 50 !important;

    .navbar-dark .navbar-toggler {
        border-style: none;
    }

    .navbar-collapse {
        justify-content: space-evenly;
    }

    .nav-item {
        margin-right: 20px;
    }
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

//HEADER FIN

//MAIN INICIO

main {
    height: auto;
    width: 1170px;
    background-size: cover;
    padding: 0px 20px 10px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12px;

    animation-duration: 1.2s;
    animation-name: aparecer;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;

    @keyframes aparecer {
        from{
            opacity: 0;
        }

        to{
            opacity: 1;
        }
    }
}

//MAIN FIN

//FOOTER INICIO

#footer {
    width: 100vw;
    background-color: $colorPrincipal;
    color: rgb(27, 19, 19);
    padding: 8px 15px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "logoFooter redesFooter navFooter";

    .logoFooter {
        width: 100%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: logoFooter;
    
            & img {
                height: 70px;
                width: auto;
            }
        }
    
    .logoTextoFooter {
        height: auto;
        font-size: 13px;
        margin: 0px 8px;
        line-height: normal;
        font-family: ghotamMedium;
        color: white;
    }

    .redesFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100% ;
        grid-area: redesFooter;
    
            & span {
                padding: 0%;
            }

            & i {
                font-size: 25px;
                margin-bottom: 20px;
                letter-spacing: 15px;
                color: white;
                text-align: center;
            }
    
            & i:hover {
                color: #333;
            }
    
            & p {
                font-size: 10px;
                margin: 0;
                color: white;
            }
        }
    }

    .navFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        width: 100%;
        grid-area: navFooter;
        position: relative;
        z-index: 2;

        & ul {
            margin: 0;
        }

        & li {
            list-style: none;
        }

        & a {
            color: white;
            text-align: flex-start;
        }
    }

//FOOTER FIN

.cont {
    display: flex;
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    box-shadow: 10px rgba(40, 40, 80, 0.1);
}

.anclaje {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 4px;

    & h5 {
        margin-bottom: 1px;
        margin-top: 1px;
    }

    & i {
        font-size: 20px;
        color: $colorPrincipal;
    }

    
    & :hover {
        color: #333;
    }
}

a {
    color: black;

    & :link {
        text-decoration: none;
    }

    & :visited {
        text-decoration: none;
        color: black;
    }

    & :hover {
        text-decoration: none;
    }
}

h1, h2 {
    font-size: 25px;
    margin-top: 20px;
}

h3 {
    font-size: 16px;
}

.textoGeneral {
    color: black;
    font-size: 16px;
    text-align: justify;
}

.tituloPrincipal{
    width: 100%;
    display: flex;
    justify-content: left;
    height: auto;
}

hr {
    border-top: 1.8px solid $colorPrincipal;
    width: 100%;
}

.textarea {
    resize: none;
    width: 100%;
}

.requerido {
    color: red;
}

.slide img {
    object-fit: cover;
    max-height: 400px;
    width: 1000px;
    border-radius: 8px;
}


//boton webmail/formularios inicio

.btn-light{
    border: 1px solid black;
    background-color: #030f27;
    color: #fff;
}

//boton webmail/formularios fin

//MEDIA QUERIS

@media only screen and (max-width: 1109px) {
    .cont2 {
        overflow: auto;
    }

    .cont6 {
        overflow: auto;
    }

    .cont4 {
        overflow: auto;
    }
}

@media only screen and (max-width: 1060px) {
    .ahorroPredictivo {
        display: flex;
        flex-direction: column;
    }
    
    .ventajas {
        display: flex;
        flex-direction: column;

        .cont8 {
            margin-top: 20px;
        }
    }

    .anclaje3 {
        display: none;
    }

    .anclaje4 {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .img-trabajaConNosotros {
    display: none;
    }
}

@media only screen and (max-width: 900px) {
    .nosotros {
        display: flex;
        flex-direction: column;
    }

    .clientes {
        display: flex;
        flex-direction: column;
    }

    .cont {
        height: auto;
    }

    .cont2 {
        margin-top: 5px;
    }

    .anclaje1 {
        display: none;
    }

    .anclaje2 {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .staff {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6";
        gap: 50px 50px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 620px){
    #footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "logoFooter navFooter"
            "redesFooter navFooter";

        .redesFooter{
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .staff {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6";
        gap: 50px 50px;
        margin-top: 30px;
        height: auto;
        width: 100px;
        justify-content: center;
    }

    #footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "logoFooter"
            "redesFooter";
        
        .navFooter{
            display: none;
        }
    }
}