@charset "UTF-8";
@font-face {
  font-family: ghotamMedium;
  src: url(../font/gothamMedium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #fbfbfb;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main {
  height: auto;
  width: 1170px;
  background-size: cover;
  padding: 0px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.nosotros {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2.2fr 0.3fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas: "cont1 cont2" "anclaje1 anclaje1";
  width: 100%;
  height: auto;
}
.nosotros .cont1 {
  grid-area: cont1;
}
.nosotros .cont2 {
  grid-area: cont2;
  flex-direction: column;
  padding: 10px;
}
.nosotros .anclaje1 {
  grid-area: anclaje1;
}

.clientes {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 0.3fr;
  gap: 5px 20px;
  grid-auto-flow: row;
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas: "cont3 cont4" "anclaje2 anclaje2";
  width: 100%;
  margin-top: 30px;
}
.clientes .cont3 {
  display: flex;
  justify-content: center;
  grid-area: cont3;
}
.clientes .cont4 {
  grid-area: cont4;
  flex-direction: column;
  padding: 10px;
}
.clientes .anclaje2 {
  grid-area: anclaje2;
}

.cont {
  display: flex;
  justify-self: stretch;
  align-self: stretch;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  box-shadow: 10px rgba(40, 40, 80, 0.1);
}

.anclaje {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.anclaje :hover {
  color: #333;
}

#footer {
  width: 100vw;
  width: 1170px;
  background-color: #030f27;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 20px 0px 0px 0px;
  height: auto;
}
#footer .redesFooter i {
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 15px;
  color: white;
  text-align: center;
}
#footer .redesFooter i:hover {
  color: #333;
}

a :link {
  text-decoration: none;
}
a :visited {
  text-decoration: none;
  color: black;
}
a :hover {
  text-decoration: underline;
}

#header {
  height: 150px;
  width: 1170px;
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: 1;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header .logo {
  height: 70px;
  width: 100%;
  font-size: 18px;
  font-family: sans-serif;
  display: flex;
  justify-content: left;
}
#header .logo img {
  height: 70px;
  width: 70px;
}

h1 {
  font-size: 25px;
}

.textoGeneral {
  color: black;
  font-size: 16px;
  text-align: justify;
}

.textarea {
  resize: none;
}

.tituloPrincipal {
  width: auto;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.requerido {
  color: red;
}

#bodyWebmail {
  background-image: url(../multimedia/img/webmail/background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#bodyWebmail .boxWebmail {
  background-position-y: center;
  background-repeat: no-repeat;
}
#bodyWebmail .botonWebmail {
  display: flex;
  height: 418px;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.mapaContacto {
  width: 100%;
  display: flex;
  padding: 20px 20px 0px;
}

.formularioContacto {
  display: flex;
  padding: 20px 20px 0px;
}

.género {
  display: flex;
  justify-content: space-evenly;
}

.redesContacto {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: baseline;
  width: 670px;
}
.redesContacto li {
  list-style: none;
  color: black;
}

.navbar {
  width: 100%;
  display: flex;
  border-radius: 5px;
  background-color: #030f27;
  justify-content: right;
  box-shadow: 0px 20px 60px 0px rgba(40, 40, 80, 0.13);
}
.navbar .navbar-dark .navbar-toggler {
  border-style: none;
}
.navbar .navbar-collapse {
  justify-content: space-evenly;
}
.navbar .nav-item {
  margin-right: 20px;
}
.navbar .navbar-dark .navbar-nav .nav-link {
  color: hsla(0, 100%, 100%, 0.95);
}

.carouselNosotros img {
  height: 400px;
}
.carouselNosotros img .carousel ul li {
  height: 20px;
  width: 20px;
  background-color: #030f27;
  border-radius: 100%;
  opacity: 0.9;
  margin-left: 30px;
}
.carouselNosotros img .carousel-control-prev span {
  height: 30px;
  width: 30px;
  background-color: #030f27;
  border-radius: 50%;
  opacity: 1;
  padding: 10px;
}

.staff {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "card1 card2 card3" "card4 card5 card6";
  gap: 50px 100px;
  margin-top: 50px;
}

.main-staff {
  justify-content: center;
  margin-top: 15px;
}

.card {
  width: 200px;
  height: 300px;
  background-color: #030f27;
  border: 3px solid #333;
}
.card .card-nombres {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.card .card-texto {
  text-align: center;
  color: #fff;
  font-size: 15px;
}
.card .card1 {
  grid-area: card1;
}
.card .card2 {
  grid-area: card2;
}
.card .card3 {
  grid-area: card3;
}
.card .card4 {
  grid-area: card4;
}
.card .card5 {
  grid-area: card5;
}
.card .card6 {
  grid-area: card6;
}
.card .card-img1 {
  background-image: url(../multimedia/img/staff/cat1.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
}
.card .card-img2 {
  background-image: url(../multimedia/img/staff/cat2.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
}
.card .card-img3 {
  background-image: url(../multimedia/img/staff/cat3.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
}
.card .card-img4 {
  background-image: url(../multimedia/img/staff/cat4.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
}
.card .card-img5 {
  background-image: url(../multimedia/img/staff/cat5.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
}
.card .card-img6 {
  background-image: url(../multimedia/img/staff/cat6.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
}

.ventajas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.2fr 0.3fr;
  grid-template-areas: "cont5 cont6" "anclaje2 anclaje2";
  gap: 0px 80px;
  margin-top: 30px;
  height: 600px;
}
.ventajas .cont5 {
  grid-area: cont5;
}
.ventajas .cont6 {
  grid-area: cont6;
}
.ventajas .cont5-img {
  background-image: url(../multimedia/img/ahorropredictivo/ventajasOperativas01.png);
  height: 200px;
  background-size: cover;
  background-position: center;
  grid-area: cont5;
}
.ventajas .cont6-img {
  background-image: url(../multimedia/img/ahorropredictivo/ventajasCostos01.png);
  height: 200px;
  background-size: contain;
  background-position: center;
  grid-area: cont6;
}

.trabajaConNosotros {
  margin-top: 15px;
}

@media only screen and (max-width: 446px) {
  .main-trabajaConNosotros {
    display: flex;
  }
}
@media only screen and (max-width: 900px) {
  .staff {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "card1 card2" "card3 card4" "card5 card6";
    gap: 50px 100px;
    margin-top: 30px;
  }
  .nosotros {
    display: flex;
    flex-direction: column;
  }
  .clientes {
    display: flex;
    flex-direction: column;
  }
  .cont {
    height: auto;
  }
  .cont2 {
    margin-top: 5px;
  }
  .anclaje1 {
    display: none;
  }
  .anclaje2 {
    display: none;
  }
}
@media only screen and (max-width: 1109px) {
  .cont2 {
    overflow: auto;
  }
  .cont4 {
    overflow: auto;
  }
}
@media only screen and (max-width: 1190px) {
  .img-trabajaConNosotros {
    display: none;
  }
  .main-trabajaConNosotros {
    justify-content: center;
  }
}
@media only screen and (max-width: 545px) {
  .staff {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6";
    gap: 50px 100px;
    margin-top: 30px;
  }
}/*# sourceMappingURL=estilos.css.map */